doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title D3 - Basic
  body
    .container
      h1 D3 basic template
      section
        h2 Resources
        ul
          li
            a(href='http://yeoman.io/') Yeoman
          li
            a(href='http://d3js.org/') D3
          li
            a(href='https://github.com/mbostock/d3/wiki/API-Reference') D3 - documentation
      section
        h2 Info
        p All the data returned by the endpoints has the general iris data set structure
        dl
          dt col1
          dd sepal length in cm
          dt col2
          dd sepal width in cm
          dt col3
          dd petal length in cm
          dt col4
          dd petal width in cm
          dt col5
          dd class, one of: [Iris Setosa, Iris Versicolour, Iris Virginica]
      section
        h2 Endpoints
        ul
          li /csv
          li /json
      section
        h2 Creating a test case
        pre yo d3-iris:new &ltname&gt
        pre yo d3-iris:adv &ltname&gt
      section.folders
        ul
          for dir in dirs
            li
              a(href="/"+dir)= dir

    script(src='/d3.js')
